* {
    background-color: gray;
}

/*Main*/
#main-title {
    background-color: lightcoral;
}

/*Page 1*/
#page_1_heading {
    background-color: red;
    font-size: 50px;
    color: white;
}

/*Page 2*/
.odd {
    background-color: rgb(255, 167, 167);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.oddly-cool {
    font-size: 24px;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-size: 24px;
    font-weight: bold;
}

/*Page 3 */

.font{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif; 
}

.look1 {
    background-color: black;
    color: white;
}

.look2 {
    background-color: yellow;
    color: black;
}

/*Page4*/

.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/*Page 5*/

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*Page 6*/
body{
    font-family:Arial, Helvetica, sans-serif
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }

  #confirm-button {
    background-color: green;
    color: white;
  }
  
  .small-para.para {
    font-size: 14px;
    font-weight: 800;
  }
  
  .para {
    font-size: 22px;
  }
  
  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 
  
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
  
  div.text.child {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }